[apply]
    whitespace = fix
[core]
    excludesfile = ~/.gitignore
    autocrlf = input
    whitespace = space-before-tab,-indent-with-non-tab,trailing-space
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[push]
    default = simple
[help]
    autocorrect = 1
